body
{
	background: rgb(202, 134, 218);
	background: linear-gradient(90deg, rgb(197, 103, 244) 0%, rgb(181, 108, 231) 0%, rgb(164, 64, 184) 69%, rgba(197,196,223,1) 100%);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}